* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #080b12;
    --secondary-color: #141922;
    --tertiary-color: #282828;
    --gray-light: #d2d2d2;
    --gray-text: #818388;
}

html {
    font-family: sans-serif, Arial, Helvetica;
}

/* DEBUG RULES */


/* deactivated rules

#calltoaction {
    background-color: blueviolet;
}

#top-nav {
    background-color: beige;
}

.debug main {
    background-color: aqua;
}

#home {
    background-color: cadetblue;
}

.debug .box {
    background-color: coral;
}

.home-row {
    background-color: yellowgreen;
    border: 1px dotted black;
}

#left-nav {
    background-color: blue;
}
*/


#footer {
    background-color: red;
}






/* COMMON RULES */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-start {
    justify-content: flex-start;
}

.direction-column {
    flex-direction: column;
}

.direction-row {
    flex-direction: row;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.align-between {
    align-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.white-txt {
    color: white;
}

.gray-txt {
    color: var(--gray-text);
}

.black-txt {
    color: black;
}

.bold {
    font-weight: bold;
}

.m-top {
    margin-top: 0.4rem;
}

.circle {
    border-radius: 50%;
}

.none {
    display: none;
}

.inline-block {
    display: inline-block;
} 


.font-size-25 {
    font-size: 25px;
}

.font-size-20 {
    font-size: 20px;
}

.font-size-13 {
    font-size: 13px;
}

.font-size-10 {
    font-size: 10px;
}

.m-l {
    margin-left: 0.5rem;
}

.m-top {
    margin-top: 0.7rem;
} 

.m-top-0-5 {
    margin-top: 0.5rem;
}

.m-r {
    margin-right: 0.5rem;
}

/* MAIN */

main {
    height: calc(100vh - 70px);
    background-color: var(--secondary-color);
}

#main-content {
    width: 100%;
    height: 100%;
}

/* LEFT NAV */

#left-nav {
    width: 40px;
    height: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0.3rem;
    background-color: var(--primary-color);
}

.left-nav-big-container {
    height: calc(100% - 60px);
}

.logo-nav {
    height: 30px;
    text-align: center;
}

#big-logo {
    display: none;
}

.logo-nav img {
    width: 80%;
    margin-bottom: 1rem;
}

.left-nav-top {
    height: 80px;
    text-align: center;
}

.left-nav-top li img {
    filter: brightness(0) saturate(100%) invert(91%) sepia(0%) saturate(628%) hue-rotate(217deg) brightness(98%) contrast(82%);
}

.left-nav-top img {
    width: 80%;
}

.txt-nav-top {
    display: none;
    padding-left: 0.3rem;
    font-weight: bold;
    font-size: 13px;
    color: var(--gray-text);
}

.left-nav-top li:hover img, .left-nav-top li:hover .txt-nav-top  {
    filter: none;
    color: white;
    cursor: pointer;
}

.left-nav-playlists {
    color: var(--gray-text);
}

.left-nav-playlists-title {
    margin-top: 1.5rem;
}

.create-button {
    height: 40px;
    width: 40px;
    background-color: var(--gray-text);
}

.create-playlist:hover .create-button {
    background-color: white;
}

.create-playlist:hover .gray-txt.m-l {
    color: white;
}

.gray-txt.m-l {
    font-size: 15px;
    font-weight: bold;
}

.playlists-container {
    max-height: 200px;
}

.playlist {
    font-size: 15px;
}

.playlist:hover a {
    color: white;
}

.left-nav-bot {
    width: 100%;
    height: 60px;
    background-color: var(--primary-color);
}

.left-nav-bot-up {
    border-bottom: 1px solid var(--gray-text);
    padding-bottom: 0.7rem;
}

.left-nav-bot-up:hover i, .left-nav-bot-up:hover span {
    color: white;
}

.left-nav-bot-txt.white-txt.font-size-13 {
    padding-top: 5px;
}

.left-nav-bot i {
    margin-top: 0.3rem;
}

/* CALL TO ACTION */

#calltoaction {
    width: 100%;
    height: 70px;
    background-color: #080b12;
}

#button {
    border: 1px solid white;
    padding: 0.6rem 2rem;
    border-radius: 30px;
    text-transform: uppercase;
    margin-right: 0.5rem;
    font-size: 13px;
}

#button:hover {
    transform: scale(1.05);
}

/* HOME */

#home {
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: auto;
    padding: 0 1rem;
}


/* TOP NAV */

#top-nav {
    width: 100%;
    background-color: var(--secondary-color);
    padding: 2px;
}

#top-nav ul li a{
    color: var(--gray-text);
    text-transform: uppercase;
    font-size: 12px;
    padding: 5px 10px;
    font-weight: bold;
}

#top-nav ul li a:hover {
    color: white;
}

#top-nav ul li {
    margin: 10px;
}

.first-nav {
    position: relative;
}

.first-nav:hover:after {
    content: "";
    width: 30%;
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 2.1px;
    background-color: #b9ff30;
    transform: translate(-50%);
}


/* HOME-ROW */

.home-row-container {
    margin-right: -0.3rem;
    margin-left: -0.3rem;
    padding: 1rem;
}

.home-row {
    width: 100%; 
}

.rows-title {
    font-size: 20px;
    font-weight: bold;
    margin: 1rem 0.2rem;
    color: white;
}

.box {
    width: calc(100% / 2 - 0.4rem);
    margin: 0.3rem 0.2rem;
    text-align: center;
}

.box img {
    width: 100%;
    object-fit: cover;
    display: block;
}

.album-title {
    display: block;
    font-size: 16px;
    color: white;
    padding: 0.4rem;
    margin-top: 0.5rem;
}

.small-gray-txt {
    font-size: 13px;
    color: var(--gray-text);
    display: block;
}

.img-wrapper {
    width: 100%;
    position: relative;
}

.album-overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    display: none;
}

.img-wrapper i {
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-wrapper:hover .album-overlay {
    display: block;
}














/* FOOTER */

#footer {
    position: relative;
    height: 70px;
    z-index: 999;
}





/* MEDIA QUERIES */

@media screen and (min-width: 576px) {
    #left-nav{
        width: 230px;
    }

    #left-nav {
        padding-left: 1rem; 
        padding-bottom: 0;
    }

    #small-logo {
        display: none;
    }

    #big-logo {
        display: block;
        width: 100%;
        margin-top: 0.6rem;
        text-align: left;
    }

    .left-nav-top {
        text-align: left;
        margin-top: 2rem;
    }

    .left-nav-top img {
        width: 70%;
    }

    .left-nav-top a {
        width: 20%;
    }

    .txt-nav-top {
        display: block;
    }

    .left-nav-playlists {
        display: block;
    }

    .left-nav-bot-txt {
        display: block;
    }

    .left-nav-bot-up, .left-nav-bot-down {
        justify-content: flex-start;
        align-items: center;
    }
}

@media screen and (min-width: 768px) {
    
    .box {
        width: calc(100% / 4 - 0.4rem);
    }
}

@media screen and (min-width: 992px) {
    .box {
        width: calc(100% / 6 - 0.4rem);
    }
}