* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #080b12;
    --secondary-color: #141922;
    --tertiary-color: #282828;
    --gray-light: #d2d2d2;
    --gray-text: #818388;
}

html {
    font-family: sans-serif, Arial, Helvetica;
}

/* DEBUG RULES */

.debug main {
    background-color: aqua;
}

#footer {
    background-color: red;
}

#left-nav {
    background-color: blue;
}

#calltoaction {
    background-color: blueviolet;
}

#home {
    background-color: cadetblue;
}

#top-nav {
    background-color: beige;
    height: 10vh;
}

.home-row {
    background-color: yellowgreen;
    border: 1px dotted black;
}

.debug .box {
    height: 150px;
    background-color: coral;
}



/* COMMON RULES */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-start {
    justify-content: flex-start;
}

.direction-column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.wrap {
    flex-wrap: wrap;
}

a {
    text-decoration: none;
}

.white-txt {
    color: white;
}


/* MAIN */

/* CALL TO ACTION */

.button {
    border: 1px solid white;
    padding: 0.6rem 2rem;
    border-radius: 30px;
    text-transform: uppercase;
    margin-right: 0.5rem;
    font-size: 13px;
}

main {
    height: calc(100vh - 70px);
}

#left-nav {
    width: 40px;
    height: 100%;
}

#main-content {
    width: calc(100% - 40px);
    height: calc(100% - 70px);
}

#calltoaction {
    width: 100%;
    height: 70px;
    background-color: var(--primary-color);
}

#home {
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: auto;
    padding: 0 1rem;
}

#top-nav {
    width: 100%;
}

.home-row {
    width: 100%; 
}

.home-row-container {
    margin-right: -0.3rem;
    margin-left: -0.3rem;
}

.box {
    width: calc(100% / 2 - 0.4rem);
    margin: 0.3rem 0.2rem;
}






/* FOOTER */

#footer {
    height: 70px;
}





/* MEDIA QUERIES */

@media screen and (min-width: 576px) {
    #left-nav{
        width: 150px;
    }
}

@media screen and (min-width: 768px) {
    
    .box {
        width: calc(100% / 4 - 0.4rem);
    }
}

@media screen and (min-width: 992px) {
    .box {
        width: calc(100% / 6 - 0.4rem);
    }
}